<h1>Week <%= @week.week_number %> Page</h1>
<h3><%= link_to "Edit", edit_user_week_path(current_user.id, @week.id) %></h3>


<p>Summary for the Week</p>
    <ol>
    <% @week.haunteds.each do |h| %>
        <li>Recap:<%= h.recap%>. Order:<%= h.order_number %>. FDS: $<%= h.fds_amount %>
        <p>Payment: <%= h.payment %></p>
        <p>Date: <%= h.date_of_the_order %></p>
        <p>Company: <%= link_to h.client.company, client_path(h.client) %></p>
    <% end %>
    </ol>
   
    <ol>
    <% @week.farms.each do |f| %>
        <li>Recap:<%= f.recap %>
        <p>Date: <%= f.date_of_visit %></p>
        <p>Amount: $<%= f.amount %></p>
        <p>Company: <%= link_to f.client.company, client_path(f.client) %></p>
    <% end %>
    </ol>   


    
<h3><%= link_to "New Client", new_client_path %></h3>
<h3><%= link_to "New Haunted", new_user_week_haunted_path(current_user.id, @week.id) %></h3>
<h3><%= link_to "New Farm", new_user_week_farm_path(current_user.id, @week.id) %></h3>