<h1>Farm Edition Page</h1> 
<h3><%= link_to "Delete", user_week_farm_path(current_user.id, @farm.week_id, @farm.id), data: { method: :delete, confirm: "Are you sure you want to delete the Farm?" } %></h3>

<%= form_for @farm, url: user_week_farm_path(current_user.id, @farm.week_id, @farm.id) do |f| %>
    <% if @farm.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@farm.errors.count, "error") %>
          prohibited this farm from being saved:
        </h2>
    
        <ul>
        <% @farm.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    Amount: $<%= f.text_field :amount %><br>
    Recap: <%= f.number_field :recap %><br>
    Date of the Visit (format YEAR-MO-DA): <%= f.text_field :date_of_visit %><br>
    
    <%= f.submit "Update Farm Sale" %> 
<% end %>
