<h1>Farm Sale</h1>

<%= form_for @farm, url: user_week_farms_path do |f| %>
    <% if @farm.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@farm.errors.count, "error") %>
          prohibited this farm from being saved:
        </h2>
    
        <ul>
        <% @farm.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    Select Company: <%= select_tag 'client_id', options_for_select(@clients.collect{|u|[u.company, u.id]}) %><br>
    <%= f.hidden_field :week_id, :value => params[:week_id] %><br>
    Amount: <%= f.text_field :amount %><br>
    Recap: <%= f.number_field :recap %><br>
    Date of the visit: <%= f.text_field :date_of_visit %><br>
    
    <%= f.submit "Create Sale" %> 
<% end %>
