<% if current_user == nil %>
<h1>Welcome to the Team</h1>
<p>Please create user or login</p>

<% elsif current_user.position == "Leader" %>
    
    <h1>Welcome Leader</h1>

    <div class="right">
    <b>
    Office Total Haunteds: <%= @haunteds_total %><br>
    Office Total Prepaid: <%= @prepaids_total %><br>
    Office Total Farms: <%= @farms_total %><br>
    Office Total Retention: $<%= @retentions_total %><br>
    Office Total Net Sales: $<%= @net_total %><br>
    </b>
    <br>
    <br>
    </div>

<% else %>
<h1>Team Performance</h1>

    <% @haunteds_total = 0 %>
    <% @prepaids_total = 0 %>
    <% @farms_total = 0 %>
    <% @retentions_total = 0 %>
    <% @net_total = 0 %>

    <% @users.each do |u| %>     
        <h4><%= u.name %></h4>
        <% total_haunteds = 0 %> 
        <% total_prepaids = 0 %> 
        <% total_fds = 0 %> 
        <% total_farms = 0 %> 
        <% total_retentions = 0 %> 

            <% u.weeks.each do |w| %>
                <% w.haunteds.each do |h| %>
                <% total_fds+= h.fds_amount %>
                    <% if h.payment == "Prepaid" %>
                    <% total_prepaids += 1 %>
                    <% end %>
                <% end %>
            <% total_haunteds += w.haunteds.count %>
            <% end %>
 

    <li>Total Haunted:
    <% if total_haunteds >= 8 %>
    <b class="green">
    <%= total_haunteds %> 
    </b>
    <% elsif total_haunteds == 4 %>
    <b class="orange">
    <%= total_haunteds %> 
    </b>
    <% else %>
    <b class="red">
    <%= total_haunteds %> 
    </b>
    <% end %>

    <li>Total Prepaid:
    <% if total_prepaids >= total_haunteds/2 %>
    <b class="green">
    <%= total_prepaids %> 
    </b>
    <% else %>
    <b class="red">
    <%= total_prepaids %> 
    </b>
    <% end %>

    <li>Total First Day Sale:
    <% if total_fds >= 800 %>
    <b class="green">
    <%= total_fds %> 
    </b>
    <% elsif total_fds == (400..799) %>
    <b class="orange">
    <%= total_fds %> 
    </b>
    <% else %>
    <b class="red">
    <%= total_fds %> 
    </b>
    <% end %>
            <% u.weeks.each do |w| %>
                <% total_farms += w.farms.count %>
                <% w.farms.each do |f| %>
                    <% total_retentions += f.amount %>
                <% end %>
            <% end %>


    <li>Total Farms:
    <% if total_farms >= 6 %>
    <b class="green">
    <%= total_farms %> 
    </b>
    <% elsif total_farms == (3..5) %>
    <b class="orange">
    <%= total_farms %> 
    </b>
    <% else %>
    <b class="red">
    <%= total_farms %> 
    </b>
    <% end %>
    <li>Total Retention:
    <% if total_retentions >= 1000 %>
    <b class="green">
    <%= total_retentions %> 
    </b>
    <% elsif total_retentions == (500..999) %>
    <b class="orange">
    <%= total_retentions %> 
    </b>
    <% else %>
    <b class="red">
    <%= total_retentions %> 
    </b>
    <% end %>

    <% @haunteds_total += total_haunteds %>
    <% @prepaids_total += total_prepaids %>
    <% @farms_total += total_farms %>
    <% @retentions_total += total_retentions %>
    <% @net_total += total_retentions %>
    <% @net_total += total_fds %>  
    <% end %>
    
    <div class="right">
    <b>
    Office Total Haunteds: <%= @haunteds_total %><br>
    Office Total Prepaid: <%= @prepaids_total %><br>
    Office Total Farms: <%= @farms_total %><br>
    Office Total Retention: $<%= @retentions_total %><br>
    Office Total Net Sales: $<%= @net_total %><br>
    </b>
    <br>
    <br>
    </div>


<% end %>
<br>