<% if current_user == nil %>
<h1>Welcome to the Team</h1>
<p>Please create user or login</p>


<% elsif current_user.position == "Alpha" || "Owner" || "Assman" %>
<h1>Team Performance</h1>

    <% @haunteds_total = 0 %>
    <% @prepaids_total = 0 %>
    <% @farms_total = 0 %>
    <% @retentions_total = 0 %>
    <% @net_total = 0 %>

    <% @users.each do |u| %>     
        <h4><%= u.name %></h4>
        <% total_haunteds = 0 %> 
        <% total_prepaids = 0 %> 
        <% total_fds = 0 %> 
        <% total_farms = 0 %> 
        <% total_retentions = 0 %> 

            <% u.weeks.each do |w| %>
                <% w.haunteds.each do |h| %>
                <% total_fds+= h.fds_amount %>
                    <% if h.payment == "Prepaid" %>
                    <% total_prepaids += 1 %>
                    <% end %>
                <% end %>
            <% total_haunteds += w.haunteds.count %>
            <% end %>
 

    <li>Total Haunted:
    <%= total_haunteds %> 
    <li>Total Prepaid:
    <%= total_prepaids %>
    <li>Total First Day Sale:
    <%= total_fds %>
 
            <% u.weeks.each do |w| %>
                <% total_farms += w.farms.count %>
                <% w.farms.each do |f| %>
                    <% total_retentions += f.amount %>
                <% end %>
            <% end %>


    <li>Total Farms:
    <%= total_farms %>
    <li>Total Retention:
    <%= total_retentions %><br>

    <% @haunteds_total += total_haunteds %>
    <% @prepaids_total += total_prepaids %>
    <% @farms_total += total_farms %>
    <% @retentions_total += total_retentions %>
    <% @net_total += total_retentions %>
    <% @net_total += total_fds %>  
    <% end %>
    
    <h4> Office Total Haunteds: <%= @haunteds_total %></h4>
    <h4> Office Total Prepaid: <%= @prepaids_total %></h4>
    <h4> Office Total Farms: <%= @farms_total %></h4>
    <h4> Office Total Retention: $<%= @retentions_total %></h4>
    <h4> Office Total Net Sales: $<%= @net_total %></h4>
    <% else %>
    <h1>Welcome Leader/h1>

<% end %>
<br>