<% if @user.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@user.errors.count, "error") %>
    prohibited this user from being saved:
  </h2>

  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

Full Name: <%= f.text_field :name %><br>
Username: <%= f.text_field :username %><br>
Email: <%= f.text_field :email %><br>
Position: <%= select_tag "position", options_for_select(["Entry", "Leader", "Alpha", "Assman", "Owner"]) %>
Password: <%= f.password_field :password %><br>
Password Confirmation: <%= f.password_field :password_confirmation %><br>
<%= f.submit "Submit" %> 