<h1>Employee Page</h1>
<h3><%= link_to "Edit", edit_user_path(@user) %></h3>

<p>
Name: <%= @user.name %><br>
Email: <%= @user.email %><br>
Position: <%= @user.position %><br>
</p>


<h3>Performance so far:</h3>
<ul>
    <li>Total Farms:
        <% total_farms = 0 %> 
        <% @user.weeks.each do |w| %>
        <% total_farms += w.farms.count %>
        <% end %>
        <%= total_farms %>

    <li>Total Haunted:
        <% total_haunteds = 0 %> 
        <% @user.weeks.each do |w| %>
        <% total_haunteds += w.farms.count %>
        <% end %>
        <%= total_haunteds %>

    <li>Total First Day Sale:
        <% total_fds = 0 %> 
        <% @user.weeks.each do |w| %>
        <% w.haunteds.each do |h| %>
            <% total_fds+= h.fds_amount %>
            <% end %>
        <% end %>
        <%= total_fds %>

    <li>Total Retention:
        <% total_amount = 0 %> 
        <% @user.weeks.each do |w| %>
        <% w.farms.each do |f| %>
            <% total_amount+= f.amount %>
            <% end %>
        <% end %>
        <%= total_amount %>
</ul>

    

<h3><%= link_to "New Week", new_user_week_path(@user) %></h3>
<h3><%= link_to "New Client", new_client_path %></h3>
