<h1>Client Edition Page</h1>
<h4><%= link_to "Delete Company", client_path(@client), data: { method: :delete, confirm: "Are you sure you want to delete the User?" } %></h4>

<%= form_for @client do |f| %>
    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@client.errors.count, "error") %>
          prohibited this client from being saved:
        </h2>
    
        <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    Company: <%= f.text_field :company %><br>
    Decision Maker: <%= f.text_field :dm %><br>
    Address: <%= f.text_field :address %><br>
    Phone: <%= f.text_field :phone %><br>
    Email: <%= f.text_field :email %><br><br>
    <%= f.submit "Update Client" %> 
<% end %>