<h1><%= @client.company %></h1>
<h3><%= link_to "Edit", edit_client_path(@client) %></h3>

<h5>Decision Maker: <%= @client.dm %></h5>
<h5>Address: <%= @client.address %></h5>
<h5>Phone: <%= @client.phone %></h5>
<h5>Email: <%= @client.email %></h5>
