<h1>Haunted Sale</h1>


<%= form_for @haunted, url: user_week_haunteds_path do |h| %>
    <% if @haunted.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@haunted.errors.count, "error") %>
          prohibited this haunted from being saved:
        </h2>
    
        <ul>
        <% @haunted.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    Select Company: <%= select_tag 'client_id', options_for_select(@clients.collect{|u|[u.company, u.id]}) %><br>
    <%= h.hidden_field :week_id, :value => params[:week_id] %><br>
    <%= h.hidden_field :user_id, :value => current_user.id %><br>
    Type: <%= select_tag 'payment', options_for_select(["Invoice", "Prepaid"]) %>
    Recap: <%= h.number_field :recap %> or Order Number: <%= h.number_field :order_number %><br>
    First Day Sale: <%= h.number_field :fds_amount %><br>
    Date of the order (format YEAR-MO-DA): <%= h.text_field :date_of_the_order %><br>
    

    <%= h.submit "Create Sale" %> 
<% end %>
