<h1><%= @haunted.recap %>/<%= @haunted.order_number %> Haunted Page</h1>
<h3><%= link_to "Edit", edit_user_week_haunted_path(current_user.id, @week.id, @haunted) %></h3>

Type: <%= @haunted.payment %><br>
Date: <%= @haunted.date_of_the_order %><br>
First Day Sale: $ <%= @haunted.fds_amount %><br>
Week: <%= @week.week_number %><br>
Company: <%= @client.company %><br>


