<!DOCTYPE html>
<html>
  <head>
    <title>LegacySalesSummary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <a href="/"</a><img src="../../assets/images/logo.jpeg" alt="Legacy Logo" title="Click to go back home!">
  </div>


    <% if current_user != nil %> 
    <p> You are login as <%= link_to current_user.username, user_path(current_user.id) %></p>
    <%= link_to "View All Weeks", user_weeks_path(current_user.id) %><br>
    <%= link_to "View All Clients", clients_path %><br> 
    <%= link_to "View All Employees", users_path %><br> 
    <%= link_to "Log out", "/logout" %><br>
    <% else %>
    <%= link_to "Sign up", "/users/new" %><br>
    <%= link_to "Sign in", "/login" %><br>
    <% end %>

  <br>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    <%= yield %>
  </body>

  <footer>
  <h3><%= link_to "Back", :back %></h3>
  <p>Created by: Juan S1u</p>
  <!-- <p>Contact information: <a href="mailto:juan.siu@egmial.com">juan.siu@egmial.com</a>.</p> -->
</footer>

</html>
