<!DOCTYPE html>
<html>
  <head>
    <title>LegacySalesSummary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
    <header>
    <ul id="left-nav">
    <li><a href="/"</a><img src="logo.jpeg" alt="Legacy Logo" title="Home"></li>
    </ul>
  
      <% if current_user != nil %> 
    <ul id="right-nav"> 
    <li><a><%= link_to "Weeks", user_weeks_path(current_user.id) %></a></li>
    <li><a><%= link_to "Clients", clients_path %></a></li> 
    <li><a><%= link_to "Employees", users_path %></a></li> 
    <li><a><%= link_to "Profile", user_path(current_user.id) %></a></li> 
    <li><a><%= link_to "Log out", "/logout" %></a></li>
    </ul>
      <% else %>
    <ul id="right-nav">
    <li><a><%= link_to "Sign up", "/users/new" %></a></li>
    <li><a><%= link_to "Sign in", "/login" %></a></li>
    <li><a><%= link_to('Log in with Github!', '/auth/github') %></a></li>
    </ul>   
      <% end %>
    </header>


  <body>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    <%= yield %>
  </body>

  <footer>
  <h3><%= link_to "Back", :back %></h3>
  <% if current_user != nil %> 
  You are login as <%= link_to current_user.username, user_path(current_user.id) %><br>
  <% end %>
  <!-- <p>Created by: Juan S1u</p> -->
  <!-- <p>Contact information: <a href="mailto:juan.siu@egmial.com">juan.siu@egmial.com</a>.</p> -->
</footer>

</html>
