<!DOCTYPE html>
<html>
  <head>
    <title>LegacySalesSummary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user != nil %> 
    <p> You are login as <%= link_to current_user.username, user_path(current_user.id) %></p>
    <%= link_to "View All Weeks", user_weeks_path(current_user.id) %><br>
    <%= link_to "View All Clients", clients_path %><br> 
    <%= link_to "Log out", "/logout" %><br>
    <% else %>
    <%= link_to "Sign up", "/users/new" %><br>
    <%= link_to "Sign in", "/login" %><br>
    <% end %>

  <br>
  <%= link_to "HOME", "/" %>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    <%= yield %>
  
  </body>
</html>
